{% load static %}
{% include "home/header.html" %}
{% include "home/footer.html" %}
{% include "home/navbar.html" %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <center>
          <div class="jumbotron">
            <h1 class="display-4">HELLO!</h1>
            <h1 class="display-4">Slamat Datang di Menu Utama!</h1>
            <p class="lead">Halaman web ini menampilkan data tentang Menu, Data Coffe, dan Data Supplier</p>
            <hr class="my-4">
            <div class="mt-5">
              <a type="button" class="btn btn-primary btn-block mr-3" href="/buy">B U Y</a>
            </div>
          </div>
        </center>
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
           <!--  <div class="small-box bg-danger">
              <div class="inner">
                <h3>Nuul</h3>

                <p>Data Obat</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/task" class="small-box-footer">Klik disini <i class="fas fa-arrow-circle-right"></i></a>
            </div> -->
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <!-- <div class="small-box bg-warning">
              <div class="inner">
                <h3>Nuul</h3>

                <p>Data Suplayer</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/suplayer" class="small-box-footer">Klik disini <i class="fas fa-arrow-circle-right"></i></a>
            </div> -->
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-green">
              <!-- <div class="inner">
                <h3>Nuul</h3>

                <p>Data Cabang</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/cabang" class="small-box-footer">Klik disni <i class="fas fa-arrow-circle-right"></i></a>
            </div> -->
          </div>
  <td>
    <marquee bg color='warning' width='1000' height="500">Masih Dalam Program Beta Version 0.1</marquee>
  </td>
