{% load static %}
{% include 'home/base.html' %}

<!DOCTYPE html>
<html>
	<head>
		<title>==========</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<link href="{% static 'css/dist/css/styles.css' %}" rel="stylesheet" />
	<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	<body>
		<div id="layoutSidenav_content">
			<div class="container-fluid">
				<h1 class="mt-4">Halaman belanja</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active">Halaman Belanja</li>
					</ol>
			<main>
				<div class="row">
				<div class="col-xl">
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table mr-1"></i>		
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="2">
									<thead>
										<tr>
							<th>#</th>
							<th>Tanggal</th>
							<th>Kategori</th>
							<th>Produk</th>
							<th>Harga</th>
							<th>stok</th>
							<th>Qty</th>
							<th>Total</th>
							<th>Catatan</th>
							<th>Actions</th>
							
						</tr>
					</thead>
			  	<tbody>
			  		{% for d in data %}
			    	<tr>
			      		<th>{{forloop.counter}}</th>
						<th>{{d.date}}</th>
						<td>{{d.products.cate.name_c}}</td>
						<td>{{d.products}}</td>
						<td>Rp {{d.products.price}}</td>  
						<th>{{d.stok}}</th>
						<td>{{d.qty}}</td>
						<td>Rp {{d.total}}</td> 
						<td>{{d.desc}}</td> 

						<td>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail">
								<i class="fas fa-info-circle"></i></button> 

								<a type="button" class="btn btn-danger" data-toggle="modal" data-target="#hapus_{{d.id}}" href="#"><i class="far fa-trash-alt"></i></a>	
						</td>
						</tr>
						<div class="modal fade" id="hapus_{{d.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
							  <div class="modal-content">
								<div class="modal-header">
								  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
								  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								  </button>
								</div>
								<div class="modal-body">
								  Apa Anda Yakin Menghapus Data Ini?
								</div>
								<div class="modal-footer">
								  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								  <a type="button" class="btn btn-danger" href="{{d.id}}/delete">Hapus</a>
								</div>
							  </div>
							</div>
						  </div>
						{% endfor %}
					</tbody>
					
				</table>
				<td>
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tambah">Tambah</button>
					<a type="button" class="btn btn-danger" href="/">Kembali</a>
				</td>
	<!-- Modal Tambah -->
	<div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="tambah">Tambah Barang</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="" method="post">
						{% csrf_token %}
						{% load crispy_forms_tags %}
						{{ form|crispy }}
					<div class="modal-footer">
						<button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save changes</button>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</main>	
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'css/dist/assets/demo/chart-bar-demo.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="{% static 'css/dist/assets/demo/datatables-demo.js' %}"></script>
</html>

<!-- Modal detail -->
<div class="modal fade" id="detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title" id="detail">Print Struck</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <div class="modal-body">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>	
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<center>
						<h1>{{ data.last.date }}</h1>
						<h2>--------------------</h2>
						<h3>Produk	: {{ data.last.products.name}}</h3>
						<h3>Jumlah	: {{ data.last.qty}}</h3>
						<h3>Harga	: {{ data.last.products.price}}</h3>
						<h3>Catatan	: {{ data.last.desc}}</h3>
					</center>
					<!-- {% load crispy_forms_tags %}
					<form method="POST" action="">
						{% csrf_token %}
						{{form|crispy}}
						<button type="submit">Tambah</button>
					</form> -->
				</div> 
			</div>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Save changes</button>
	  </div>
	</div>
  </div>

  <!-- modal tambah -->

  <div class="modal fade" id="tambah" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="detail">Print Struck</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <div class="card mb-4">
			  <div class="card-header">
				  <i class="fas fa-table mr-1"></i>	
			  </div>
			  <div class="card-body">
				  <div class="table-responsive">
					  <form method="POST" action="">
						{% load crispy_forms_tags %}
						  {% csrf_token %}
						  {{ form|crispy}}
						  <button type="submit">Tambah</button>
					  </form>
				  </div> 
			  </div>
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Save changes</button>
		</div>
	  </div>
	</div>
  

	
